In [79]:
#Import dependencies
import pandas as pd
import os
from sqlalchemy import create_engine

In [67]:
#Read in CSV files

age = "datasets/age.csv"
age = pd.read_csv(age)
age.head()

age_pivot = "datasets/age_pivot.csv"
age_pivot = pd.read_csv(age_pivot)
age_pivot.head()

breast_mortality_global_crude = "datasets/breast_mortality_global_crude.csv"
breast_mortality_global_crude = pd.read_csv(breast_mortality_global_crude)
breast_mortality_global_crude.head()

breast_new_cases_global_crude = "datasets/breast_new_cases_global_crude.csv"
breast_new_cases_global_crude = pd.read_csv(breast_new_cases_global_crude)
breast_new_cases_global_crude.head()

global_deaths = "datasets/global_deaths.csv"
global_deaths = pd.read_csv(global_deaths)
global_deaths.head()

number_of_people_with_cancer_by_type = "datasets/number-of-people-with-cancer-by-type.csv"
number_of_people_with_cancer_by_type = pd.read_csv(number_of_people_with_cancer_by_type)
number_of_people_with_cancer_by_type.head()

race_average = "datasets/race_average.csv"
race_average = pd.read_csv(race_average)
race_average.head()

race_pivot = "datasets/race_pivot.csv"
race_pivot = pd.read_csv(race_pivot)
race_pivot.head()

share_of_population_suffering_from_cancer_types = "datasets/share-of-population-suffering-from-cancer-types.csv"
share_of_population_suffering_from_cancer_types = pd.read_csv(share_of_population_suffering_from_cancer_types)
share_of_population_suffering_from_cancer_types.head()

total_cancer_deaths_by_type = "datasets/total-cancer-deaths-by-type.csv"
total_cancer_deaths_by_type = pd.read_csv(total_cancer_deaths_by_type)
total_cancer_deaths_by_type.head()

US_incidence_by_state = "datasets/US_incidence_by_state.csv"
US_incidence_by_state = pd.read_csv(US_incidence_by_state)
US_incidence_by_state.head()


US_incidence_region_CDC = "datasets/US_incidence_region_CDC.csv"
US_incidence_region_CDC = pd.read_csv(US_incidence_region_CDC)
US_incidence_region_CDC.head()

US_incidence_CDC = "datasets/US_incidence_CDC.csv"
US_incidence_CDC = pd.read_csv(US_incidence_CDC)
US_incidence_CDC.head()

US_mortality_CDC = "datasets/US_mortality_CDC.csv"
US_mortality_CDC = pd.read_csv(US_mortality_CDC)
US_mortality_CDC.head()

Wisconsindata = "datasets/Wisconsindata.csv"
Wisconsindata = pd.read_csv(Wisconsindata)
Wisconsindata.head()

world_all_cancer_percent = "datasets/world_all_cancer_percent.csv"
world_all_cancer_percent = pd.read_csv(world_all_cancer_percent)
world_all_cancer_percent.head()

,Entity,Code,Year,Liver cancer (%),Larynx cancer (%),Kidney cancer (%),Breast cancer (%),Thyroid cancer (%),Stomach cancer (%),Uterine cancer (%),...,Pancreatic cancer (%),Esophageal cancer (%),Testicular cancer (%),Nasopharynx cancer (%),Colon & rectum cancer (%),Non-melanoma skin cancer (%),Lip & oral cancer (%),Brain & nervous system cancer (%),"Tracheal, bronchus, & lung cancer (%)",Gallbladder & biliary tract cancer (%)
0,Afghanistan,AFG,1990,0.0,0.014194,0.019449,0.064142,0.010810,0.053776,0.005837,...,0.001576,0.012869,0.000690,0.004655,0.032026,0.000019,0.005823,0.016165,0.012970,0.001544
1,Afghanistan,AFG,1991,0.0,0.014297,0.019067,0.064152,0.010727,0.054085,0.005816,...,0.001566,0.012862,0.000680,0.004615,0.032314,0.000019,0.005835,0.015804,0.012867,0.001545
2,Afghanistan,AFG,1992,0.0,0.014385,0.018361,0.064807,0.010698,0.054698,0.005847,...,0.001558,0.012911,0.000668,0.004592,0.032682,0.000019,0.005866,0.015175,0.012799,0.001554
3,Afghanistan,AFG,1993,0.0,0.014482,0.017985,0.065414,0.010500,0.055277,0.005835,...,0.001553,0.012951,0.000674,0.004541,0.033061,0.000020,0.005899,0.014904,0.012726,0.001561
4,Afghanistan,AFG,1994,0.0,0.014615,0.018296,0.065849,0.010496,0.056452,0.005847,...,0.001551,0.013069,0.000688,0.004563,0.033468,0.000020,0.005940,0.015340,0.012679,0.001570

In [77]:
#Cleaning CSV Files

breast_mortality_global_crude = breast_mortality_global_crude.dropna()
breast_mortality_global_crude.head()

breast_new_cases_global_crude = breast_new_cases_global_crude.dropna()
breast_new_cases_global_crude.head()

,country,1953,1954,1955,1956,1957,1958,1959,1960,1961,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
46,Denmark,46.7,40.2,44.5,46.4,43.2,42.8,45.1,46.1,47.1,...,108.0,108.0,107.0,107.0,106.0,104.0,103.0,101.0,99.9,98.5
58,Finland,25.3,24.0,24.3,26.7,27.9,27.1,24.8,26.9,24.8,...,98.0,98.4,98.8,99.3,97.8,96.3,94.9,93.5,92.2,91.0
124,Norway,36.2,35.3,37.7,37.7,36.5,36.2,38.7,39.0,39.4,...,86.4,85.7,85.0,84.3,84.2,84.1,84.0,83.9,83.8,83.8

# Loading Data into Database

In [80]:
connection_string = "root:cookies25@127.0.0.1/breastcancer?charset=utf8mb4"
engine = create_engine(f'mysql+pymysql://{connection_string}', pool_size=10, max_overflow=50)

In [81]:
#load age dataframe into database, create table called age
age.to_sql(name='age', con=engine, if_exists='append', index=False)

In [82]:
#load age_pivot dataframe into database, create table called age_pivot
age_pivot.to_sql(name='age_pivot', con=engine, if_exists='append', index=False)

In [83]:
#load breast_mortality_global_crude dataframe into database, create table called breast_mortality_global_crude
breast_mortality_global_crude.to_sql(name='breast_mortality_global_crude', con=engine, if_exists='append', index=False)

In [84]:
#load breast_new_cases_global_crude dataframe into database, create table called breast_new_cases_global_crude
breast_new_cases_global_crude.to_sql(name='breast_new_cases_global_crude', con=engine, if_exists='append', index=False)

In [85]:
#load global_deaths dataframe into database, create table called global_deaths
global_deaths.to_sql(name='global_deaths', con=engine, if_exists='append', index=False)

In [86]:
#load number_of_people_with_cancer_by_type dataframe into database, create table called number_of_people_with_cancer_by_type
number_of_people_with_cancer_by_type.to_sql(name='number_of_people_with_cancer_by_type', con=engine, if_exists='append', index=False)

In [87]:
#load race_average dataframe into database, create table called race_average
race_average.to_sql(name='race_average', con=engine, if_exists='append', index=False)

In [88]:
#load race_pivot dataframe into database, create table called race_pivot
race_pivot.to_sql(name='race_pivot', con=engine, if_exists='append', index=False)

In [89]:
#load share_of_population_suffering_from_cancer_types dataframe into database, create table called share_of_population_suffering_from_cancer_types
share_of_population_suffering_from_cancer_types.to_sql(name='share_of_population_suffering_from_cancer_types', con=engine, if_exists='append', index=False)

In [90]:
#load total_cancer_deaths_by_type dataframe into database, create table called total_cancer_deaths_by_type
total_cancer_deaths_by_type.to_sql(name='total_cancer_deaths_by_type', con=engine, if_exists='append', index=False)

In [91]:
#load US_incidence_by_state dataframe into database, create table called US_incidence_by_state
US_incidence_by_state.to_sql(name='US_incidence_by_state', con=engine, if_exists='append', index=False)

In [92]:
#load US_incidence_region_CDC dataframe into database, create table called US_incidence_region_CDC
US_incidence_region_CDC.to_sql(name='US_incidence_region_CDC', con=engine, if_exists='append', index=False)

In [93]:
#load US_incidence_CDC dataframe into database, create table called US_incidence_CDC
US_incidence_CDC.to_sql(name='US_incidence_CDC', con=engine, if_exists='append', index=False)

In [94]:
#load US_mortality_CDC dataframe into database, create table called US_mortality_CDC
US_mortality_CDC.to_sql(name='US_mortality_CDC', con=engine, if_exists='append', index=False)

In [95]:
#load Wisconsindata dataframe into database, create table called Wisconsindata
Wisconsindata.to_sql(name='Wisconsindata', con=engine, if_exists='append', index=False)

In [96]:
#load world_all_cancer_percent dataframe into database, create table called world_all_cancer_percent
world_all_cancer_percent.to_sql(name='world_all_cancer_percent', con=engine, if_exists='append', index=False)